@charset "UTF-8";
* {
  font-family: Arial, Helvetica, sans-serif; }

.navBar {
  width: 100%;
  border: 2px #ed7d31 solid;
  background: #ed7d31;
  color: white;
  text-align: center; }

body {
  font-family: Arial;
  background: #afafaf;
  color: white; }

main {
  margin-top: 2%;
  display: flex;
  direction: row; }

.contenedor_1 {
  display: flex;
  flex-direction: column;
  max-width: 70%; }
  .contenedor_1 .projectInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .contenedor_1 .projectInfo .div1 {
      min-height: 52px;
      width: 25%;
      background: #B8CCE4;
      border: 1px #90abdc solid;
      color: black;
      display: flex;
      align-items: center; }
      .contenedor_1 .projectInfo .div1 p {
        padding-left: 5px; }
    .contenedor_1 .projectInfo .div2 {
      width: 74%;
      min-height: 52px; }
      .contenedor_1 .projectInfo .div2 input {
        min-height: 45px;
        width: 100%;
        border: 2px #90abdc solid;
        height: 88%; }
    .contenedor_1 .projectInfo .div3 {
      width: 25%;
      min-height: 150px;
      background: #B8CCE4;
      border: 1px #90abdc solid;
      color: black;
      display: flex;
      align-items: center; }
      .contenedor_1 .projectInfo .div3 p {
        padding-left: 5px; }
    .contenedor_1 .projectInfo .div4 {
      width: 74%;
      height: 150px; }
      .contenedor_1 .projectInfo .div4 textarea {
        width: 100%;
        border: 2px #90abdc solid;
        height: 96%; }
    .contenedor_1 .projectInfo .div5 {
      height: 52px;
      width: 100%;
      max-width: 219px;
      background: #B8CCE4;
      border: 1px #90abdc solid;
      color: black;
      display: flex;
      align-items: center; }
      .contenedor_1 .projectInfo .div5 p {
        padding-left: 5px; }
    .contenedor_1 .projectInfo .div6 {
      height: 52px;
      width: 24%; }
      .contenedor_1 .projectInfo .div6 input {
        min-height: 45px;
        width: 96%;
        border: 2px #90abdc solid;
        height: 88%; }
    .contenedor_1 .projectInfo .div7 {
      height: 52px;
      width: 26%;
      background: #B8CCE4;
      border: 1px #90abdc solid;
      color: black;
      display: flex;
      align-items: center; }
      .contenedor_1 .projectInfo .div7 p {
        padding-left: 5px; }
    .contenedor_1 .projectInfo .div8 {
      height: 52px;
      width: 24%; }
      .contenedor_1 .projectInfo .div8 input {
        min-height: 45px;
        width: 100%;
        border: 2px #90abdc solid;
        height: 88%; }

.contenedor_2 {
  margin-left: 1.5%;
  background-color: #ed7d31;
  max-width: 5%;
  height: 28rem; }
  .contenedor_2 p {
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    margin-top: 200%; }

.contenedor_3 {
  margin-left: 1%;
  max-width: 20%; }
  .contenedor_3 lu {
    list-style: none; }
    .contenedor_3 lu button {
      color: white;
      border: 2px #071334 solid;
      background-color: #071334;
      margin-top: 2%;
      text-align: start;
      width: 130%;
      height: 2.5rem;
      border-radius: 5px;
      transition: 1s; }
    .contenedor_3 lu button:hover {
      color: black;
      border: 2px whitesmoke solid;
      background-color: whitesmoke;
      transition: 1s; }
      .contenedor_3 lu button:hover a {
        color: black;
        transition: 1s; }
  .contenedor_3 a {
    color: whitesmoke !important;
    transition: 1s; }

.articulosAlternativa {
  display: flex;
  flex-direction: column; }
  .articulosAlternativa h1 {
    background: #17375E;
    border: 1px black solid;
    color: white;
    margin-bottom: 2%;
    height: 3rem; }
  .articulosAlternativa span {
    color: black; }
  .articulosAlternativa input {
    background-color: whitesmoke;
    color: black;
    width: 100%;
    border: 0px;
    display: inline-block;
    padding: 2px; }

.botonSesion {
  margin-top: 1%;
  margin-bottom: 0.5%;
  font-weight: bold;
  background-color: #ffff62;
  box-shadow: black 1px 1px 3px 1px;
  text-align: center;
  width: 3cm;
  transition: 1s; }
  .botonSesion:hover {
    color: black;
    border: 2px whitesmoke solid;
    background-color: whitesmoke;
    transition: 1s; }
    .botonSesion:hover a {
      color: black;
      transition: 1s; }

/* p{
    margin-left: 5%;
} */
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: 1; }

/* .home{
    background-color: ;
} */
.centrar {
  text-align: center; }

.header {
  background: #92d050;
  border: 2px #0a3b95 solid;
  color: black;
  text-align: center;
  height: 3rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center; }

.centrar {
  text-align: center; }

canvas {
  margin-top: 2%;
  border: 1px dashed black;
  max-width: 250px;
  max-height: 250px;
  margin-left: 558px; }

.output {
  display: flex;
  flex-direction: column; }

.archivosSubidos {
  background-color: whitesmoke;
  color: black;
  border: 1px black solid;
  margin-top: 1px;
  padding: 5px; }

.textInput {
  background-color: whitesmoke;
  color: black;
  /* border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid; */
  width: 100%;
  display: inline-block;
  padding: 2px; }

.segmentos {
  display: flex;
  flex-direction: column;
  margin-top: 2%; }

.paso {
  background: #071334;
  border: 2px #071334 solid;
  color: white;
  margin-bottom: 1%;
  margin-top: 3%;
  height: 3rem;
  text-align: left;
  display: inline-flex;
  align-items: center; }

.bajada {
  font-weight: bold;
  text-align: left;
  padding: 2px;
  color: black;
  background-color: #B8CCE4;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid; }

table {
  width: 100%; }
  table th {
    padding: 1%;
    text-align: center;
    color: black;
    background-color: #B8CCE4;
    border: #000000 1px solid;
    font-size: 16px; }
  table tr {
    max-width: 40%; }
  table td {
    background-color: whitesmoke; }

.alternativaStilo {
  color: white;
  border: 1px black solid;
  text-align: center;
  background: #17375E;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.componenteStilo {
  color: white;
  margin-top: 0.5%;
  border: 1px black solid;
  text-align: left;
  background: #17375E;
  width: 100%;
  display: inline-block; }

.respuestaTabla {
  background-color: whitesmoke;
  color: black;
  /*     border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid; */
  width: 100%;
  display: inline-block;
  padding: 2px; }

.preguntaTabla {
  background-color: #B8CCE4;
  text-align: left;
  color: black;
  border: black 1px solid;
  width: 27%;
  display: inline-block;
  padding: 2px;
  font-size: 13px; }

.pruebaTabla {
  background-color: whitesmoke;
  color: black;
  /*     border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid; */
  width: 100%;
  display: inline-block;
  padding: 2px; }

.explicacion {
  margin-top: -1%;
  color: black;
  background: gainsboro; }

a {
  color: black; }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  padding: 10px 0 24px 0; }

.secondFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 330px;
  padding: 20px 0 24px 0; }

.tablaModulo4 {
  display: block;
  overflow-x: auto;
  white-space: nowrap; }

.flexFlujo {
  display: flex;
  flex-direction: row; }

/* .selectorFactorSocial{
    display: none;
  overflow-y: auto !important;
} */
/* .tablaHorizonte{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    
    th{
        height: 60px;
        padding-bottom: 10px;
    }
  }

.tablaHorizonte{
        font-size: 10px;
} */
.tablaHorizonte {
  display: block;
  overflow-x: auto;
  white-space: nowrap; }

.tablaHorizonte table {
  width: 1000%; }

.tablaHorizonte th,
.tablaHorizonte td {
  width: 50px !important; }

.tablaHorizonte input {
  width: 80px; }

.costoComp {
  font-size: 15px;
  display: block;
  overflow-x: auto;
  white-space: nowrap; }

input {
  background-color: whitesmoke;
  color: black;
  border: 0px;
  /* border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid; */
  width: 100%;
  display: inline-block;
  padding-bottom: 4px; }

.inputTextoIzq {
  text-align: left; }

.inputNumeroDer {
  text-align: right; }

.inputEspecialCen {
  text-align: center; }

datalist {
  max-height: 500px;
  overflow-y: auto; }

.tablaModulo5_3 {
  display: block;
  overflow-x: auto;
  white-space: nowrap; }
  .tablaModulo5_3 th {
    padding: 0%;
    min-width: 2.5cm; }

.tablaModulo5_6 {
  display: block;
  overflow-x: auto;
  white-space: nowrap; }
  .tablaModulo5_6 th {
    padding: 0%;
    min-width: 2.5cm; }

.tablaModulo5_7 {
  display: block;
  overflow-x: auto;
  white-space: nowrap; }
  .tablaModulo5_7 th {
    padding: 0%;
    min-width: 2.5cm; }

.tablaModulo7 {
  display: block;
  overflow-x: auto;
  white-space: nowrap; }
  .tablaModulo7 th {
    padding: 0%;
    min-width: 2.5cm; }

.cronogramaClass {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: 100% th;
    width-width: 4cm; }

.sumTodoMod5 {
  font-size: 15px;
  display: block;
  overflow-x: auto;
  white-space: nowrap; }

.costoPrivadoClass {
  display: block;
  overflow-x: auto;
  white-space: nowrap; }
  .costoPrivadoClass th {
    min-width: 2.5cm; }

.costoSocialClass {
  display: block;
  overflow-x: auto;
  white-space: nowrap; }
  .costoSocialClass th {
    min-width: 2.5cm; }

.input-dropdown {
  position: relative;
  display: inline-block; }

.input-dropdown input {
  background-color: whitesmoke;
  color: black;
  width: 100%; }

.input-dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  display: none;
  max-height: 400px;
  width: 400px;
  overflow-y: scroll;
  z-index: 1; }

.input-dropdown ul li {
  color: black; }

.input-dropdown ul li label {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px black solid; }

.input-dropdown ul li label:hover {
  background-color: #333;
  color: #fff; }

.input-dropdown.active ul {
  display: block; }

.triangulo {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid red;
  position: absolute;
  top: 0;
  right: 0; }

.notaInstitucional {
  font-weight: bold;
  text-align: left;
  padding: 2px;
  color: black;
  background-color: #B8CCE4;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid; }

td.notaInstitucional:hover::before {
  content: "DGIP-Preinversión: Son las instituciones del Sector Público, Alcaldías, Organismos financieros";
  position: absolute;
  z-index: 1;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; }

.notaSociales {
  font-weight: bold;
  text-align: left;
  padding: 2px;
  color: black;
  background-color: #B8CCE4;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid; }

td.notaSociales:hover::before {
  content: "DGIP-Preinversión: Patronatos, Juntas de Agua.";
  position: absolute;
  z-index: 1;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; }

.notaPoliticos {
  font-weight: bold;
  text-align: left;
  padding: 2px;
  color: black;
  background-color: #B8CCE4;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid; }

td.notaPoliticos:hover::before {
  content: "DGIP-Preinversión: Partidos Políticos, Congreso Nacional.";
  position: absolute;
  z-index: 1;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; }

.notaSectorial {
  font-weight: bold;
  text-align: left;
  padding: 2px;
  color: black;
  background-color: #B8CCE4;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid; }

td.notaSectorial:hover::before {
  position: absolute;
  z-index: 1;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; }

.notaGremiales {
  font-weight: bold;
  text-align: left;
  padding: 2px;
  color: black;
  background-color: #B8CCE4;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid; }

td.notaGremiales:hover::before {
  content: "DGIP-Preinversión: Gremio  de agricultores,  ganaderos, cafetaleros etc.";
  position: absolute;
  z-index: 1;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; }

.notaComunidad {
  font-weight: bold;
  text-align: left;
  padding: 2px;
  color: black;
  background-color: #B8CCE4;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid; }

td.notaComunidad:hover::before {
  content: "DGIP-Preinversión: habitantes de la comunidad.";
  position: absolute;
  z-index: 1;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; }

.notaGrupos {
  font-weight: bold;
  text-align: left;
  padding: 2px;
  color: black;
  background-color: #B8CCE4;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid; }

td.notaGrupos:hover::before {
  content: "DGIP-Preinversión: Personas con capacidades físicas especiales, etnias en general, madres solteras.";
  position: absolute;
  z-index: 1;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; }

th.notaActor:hover::before {
  content: "DGIP-Preinversión: Llenar una fila por cada actor arriba identificado.";
  position: absolute;
  z-index: 1;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; }

th.accionNota:hover::before {
  content: "Incluye el costo de la acción correctiva y los costos para reducir efectos colaterales";
  position: absolute;
  z-index: 1;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; }

th.notaProceso:hover::before {
  content: "En caso de que se aplique el análisis de pasos operativos del sistema";
  position: absolute;
  z-index: 1;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; }

.notaConsumo {
  font-weight: bold;
  text-align: left;
  padding: 2px;
  color: black;
  background-color: #B8CCE4;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid; }

td.notaConsumo:hover::before {
  content: "DGIP-Preinversión: Crear Tabla de  Coeficientes de Consumo con proyectos tipo: un cupo por persona.";
  position: absolute;
  z-index: 1;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; }

td.notaConsumoR:hover::before {
  content: "DGIP-Preinversión: Crear Tabla de  Coeficientes de Consumo con proyectos tipo: un cupo por persona.";
  position: absolute;
  z-index: 1;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; }

td.calificadaNota:hover::before {
  content: "Mano de obra calificada: Se refiere al recurso humano que requiere de cierto nivel de formación y especialización para el desempeño adecuado de sus funciones (profesionales, obreros especializados). ";
  position: absolute;
  z-index: 1;
  color: black;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #bb0d0d;
  border-radius: 5px; }

td.semiCalificadaNota:hover::before {
  content: "Mano de obra Semi calificada: Se refiere al recurso humano que desempeña actividades para las cuales no se requiere estudios previos y que, teniendo experiencia, esta no es suficiente para ser clasificados como mano de obra calificada (personal de apoyo administrativo, artesanos y operarios de oficio, trabajadores de los servicios y vendedores del comercio, operadores de máquinas y montadores).";
  position: absolute;
  z-index: 1;
  color: black;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #bb0d0d;
  border-radius: 5px; }

td.noCalificadaNota:hover::before {
  content: "Mano de obra no calificada: Se refiere al recurso humano que no requiere ningún tipo de preparación especial para el cumplimiento de las labores de su cargo. ";
  position: absolute;
  z-index: 1;
  color: black;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #bb0d0d;
  border-radius: 5px; }

.tasaPrivadaNota {
  font-weight: bold;
  text-align: left;
  padding: 2px;
  color: black;
  background-color: #B8CCE4;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid; }

.tasaPrivadaNota:hover::before {
  content: "Insertar la Tasa mínima de rentabilidad de inversiones similares -revisar caso Tasa del Mercado Vigente";
  position: absolute;
  z-index: 1;
  color: black;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #bb0d0d;
  border-radius: 5px; }
