.header{
    background: #92d050;
    border: 2px #0a3b95 solid ;
    color: black;
    text-align: center;
    height: 3rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrar{
    text-align: center;
}

canvas{
    margin-top: 2%;
    border: 1px dashed black;
    max-width: 250px;
    max-height: 250px;
    margin-left: (1366px - 250px)/2;
}

.output {
    display: flex;
    flex-direction: column;
}

.archivosSubidos{
    background-color: whitesmoke;
    color: black;
    border: 1px black solid;
    margin-top: 1px;
    padding: 5px;
}

.textInput{
    background-color: whitesmoke;
    color: black;
    width: 97%;
    display: inline-block;
    padding: 2px;
}

.textInput7-1 {
    background-color: whitesmoke;
    color: black;
    width: 96%;
    display: inline-block;
    padding: 2px;
}

.textInput8 {
    background-color: whitesmoke;
    color: black;
    width: 96%;
    display: inline-block;
    padding: 2px;
}

.textInput9 {
    background-color: whitesmoke;
    color: black;
    width: 96%;
    display: inline-block;
    padding: 2px;
}

.textInput10 {
    background-color: whitesmoke;
    color: black;
    width: 96%;
    display: inline-block;
    padding: 2px;
}

.respuestaTabla7 {
    background-color: whitesmoke;
    color: black;
    width: 96%;
    display: inline-block;
    padding: 2px;
}
.segmentos{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.paso{
    width: 100%;
    background: #071334;
    border: 2px #071334 solid ;
    color: white;
    margin-bottom: 1%;
    margin-top: 3%;
    height: 3rem;
    text-align: left;
    display: inline-flex;
    align-items: center;
}

.bajada{
    font-weight: bold;
    text-align: left;
    padding: 2px;
    color: black;
    background-color: #B8CCE4;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

table{
    width: 100%;
    th{
        padding: 1%;
        text-align: center;
        color: black;
        background-color: #B8CCE4;
        border: #000000 1px solid;
        font-size: 16px;}
    
    tr{
        max-width: 40%;
    }

    td{
        background-color: whitesmoke;
    }
}

.alternativaStilo{
    color: white;
    border: 1px black solid;
    text-align: center;
    background: #17375E;
    width: 99.8%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.componenteStilo{
    color: white;
    margin-top: 0.5%;
    border: 1px black solid;
    text-align: left;
    background: #17375E;
    width: 100%;
    display: inline-block;
}

.respuestaTabla{
    background-color: whitesmoke;
    color: black;
/*     border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid; */
    width: 99%;
    display: inline-block;
    padding: 2px
}

.respuestaTabla4-7{
    background-color: whitesmoke;
    color: black;
    width: 97%;
    display: inline-block;
    padding: 2px
}

.respuestaTabla5-2{
    background-color: whitesmoke;
    color: black;
    width: 97%;
    display: inline-block;
    padding: 2px
}

.respuestaTabla5-3{
    background-color: whitesmoke;
    color: black;
    width: 96%;
    display: inline-block;
    padding: 2px
}

.respuestaTabla5-4{
    background-color: whitesmoke;
    color: black;
    width: 96%;
    display: inline-block;
    padding: 2px
}

.respuestaTabla5-5{
    background-color: whitesmoke;
    color: black;
    width: 96%;
    display: inline-block;
    padding: 2px
}

.respuestaTabla5-6{
    background-color: whitesmoke;
    color: black;
    width: 96%;
    display: inline-block;
    padding: 2px;
}

.respuestaTabla5-7{
    background-color: whitesmoke;
    color: black;
    width: 96%;
    display: inline-block;
    padding: 2px;
}

.analisisPreciosPriv {
    width: 98%;
}

.preciosSociales{
    width: 99%;
}

.costoBenefSocial {
    width: 97%;
}

.input5-8 {
    width: 95%;
}

.preguntaTabla{
    background-color: #B8CCE4;
    text-align: left;
    color: black;
    border: black 1px solid;
    width: 27%;
    display: inline-block;
    padding: 2px;
    font-size: 13px;
}

.pruebaTabla{
    background-color: whitesmoke;
    color: black;
/*     border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid; */
    width: 100%;
    display: inline-block;
    padding: 2px
}

.explicacion{
    margin-top: -1%;
    color: black;
    background: rgb(220, 220, 220);
}

a{
    color: black;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  padding: 10px 0 24px 0; 
}

.secondFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 330px;
    padding: 20px 0 24px 0;
}
